.not-found-container {
    text-align: center;
    padding: 50px;
  }
  
  .error-image {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 3em;
    margin-top: 20px;
  }
  
  p {
    font-size: 1.5em;
    margin: 20px 0;
  }
  
  button {
    font-size: 1em;
  }
  