<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>{{ title }}</span>

  <!-- Botón de menú para pantallas pequeñas -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="navbar-menu-button" fxHide fxShow.lt-md>
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menú desplegable para pantallas pequeñas -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="home" routerLinkActive="active">Home</button>
    <button mat-menu-item routerLink="dotnet-api" routerLinkActive="active">.NET API</button>
    <button mat-menu-item routerLink="laravel-api" routerLinkActive="active">Laravel API</button>
    <button mat-menu-item routerLink="nodejs-api" routerLinkActive="active">NodeJS API</button>
    <button mat-menu-item routerLink="python-api" routerLinkActive="active">Python API</button>
  </mat-menu>

  <!-- Enlaces normales para pantallas grandes -->
  <div fxLayout="row" fxLayoutGap="10px" fxHide.lt-md>
    <a mat-button routerLink="home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="dotnet-api" routerLinkActive="active">.NET API</a>
    <a mat-button routerLink="laravel-api" routerLinkActive="active">Laravel API</a>
    <a mat-button routerLink="nodejs-api" routerLinkActive="active">NodeJS API</a>
    <a mat-button routerLink="python-api" routerLinkActive="active">Python API</a>
  </div>
</mat-toolbar>
<router-outlet #outlet="outlet" [@routeAnimations]="prepareRoute(outlet)"></router-outlet>
