.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a.mat-button.active {
  border-bottom: 2px solid white;
  transition: border-bottom 0.3s ease-in-out;
}

a.mat-button {
  color: white;
  transition: background-color 0.3s ease;
}

a.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-menu-button {
  margin-left: auto;
}

.navbar-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px; /* Ajusta el tamaño según tu preferencia */
  font-weight: 600; /* Un peso mayor para hacer que se vea más destacado */
  text-decoration: none; /* Quita el subrayado */
  color: #333; /* Un color oscuro para profesionalismo */
}

.navbar-title:hover {
  color: #555; /* Cambia el color al pasar el cursor para un efecto sutil */
}

.active .navbar-title span {
  text-decoration: none; /* Asegúrate de que no se subraye al estar activo */
  color: #007bff; /* Color activo, puedes ajustar según tu esquema de colores */
}


@media (max-width: 768px) {
  .mat-toolbar {
    flex-direction: column;
  }
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que el navbar esté sobre otros elementos */
}

/* Añade un margen superior al contenido principal para evitar que quede detrás del navbar */
router-outlet + * {
  margin-top: 64px; /* Ajusta este valor según la altura de tu toolbar */
}